@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: $text-color;
}

.wrapper {
    //padding: 25px calc((100vw - 960px) / 2);

    // @media (max-width: 980px) {
    //     padding: 25px 10px;
    // }
    .contents {

        .map-container{
            background: #eee;
            width: 100vw;
            height: 50vh;
        }

        .sticky {
            position: fixed;
            top: 0;
            z-index: 10;
        }

        .upcoming-upper-container{
            background: rgba(231, 234, 236, 0.5);
            padding:  15px;
           }

        .sticky-content {
            padding-top: 55vh;
            z-index: -5;
        }


        .trending-container{
            text-align: center;

            h3{
                color: $purple;
                font-size: 2.5rem;
            }
        }

        .bookmark-container{
            text-align: center;
            background: rgba(231, 234, 236, 0.5);

            .bookmark-icon{
                font-size: 1.5rem;
                color: $purple;
            }

            h3{
                display: inline;
                color: $purple;
            }
        }

        .recommend-container{
            text-align: center;
            background: rgba(231, 234, 236, 0.5);
        }
    }
}

.secondary-color {
    color: $secondary-color;
}

.font-sm {
    font-size: 0.9rem;
}

.info-window {
    font-size: 0.8rem;
    background: rgba(255, 255, 255,0.7);
    width: 60px;
    padding: 3px;
}
