$primary-color: #63adf2;
$secondary-color: rgba(82,72,156, 0.7);;
$text-color: #333;
$grey: rgb(200, 200, 200);
$purple: rgb(82,72,156);


@import './base.scss';
@import './components.scss';
@import './navigation.scss';
@import './footer.scss';
@import './detail.scss';
@import './profile.scss';
