.nav-wrapper {
    display: flex;
}

.nav-menu {
    display: flex;
}


.nav-link {
    color: rgb(102, 102, 102);

    &:visited {
        color: rgb(102, 102, 102);
    }

    &:hover {
        color: rgb(102, 102, 102);
    }
}
