@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

.nav-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    background: rgba(255,255,255, 0.9);
    font-size: 0.9rem;
    line-height: 0.1rem;
    padding-top: 10px;
    border-bottom: #eee solid 1px;

    p{
        font-size: 1.5rem;
        font-family: Quicksand;
        font-weight: 700;
    }
}

.nav-menu {
    display: flex;
    font-family: Quicksand;
    font-weight: 500;
}


.nav-link {
    color: $purple;

    &:visited {
        color: $purple;
    }

    &:hover {
        color: $purple;
    }
}



