.nav-wrapper {
    display: flex;
    background: $purple;
}

.nav-menu {
    display: flex;
}


.nav-link {
    color: white;

    &:visited {
        color: white;
    }

    &:hover {
        color: white;
    }
}

// rgb(102, 102, 102)
